 * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    max-width: 100%;
}
a {
    text-decoration: none;
    color: white;

    
}
a:hover {
    color: rgb(152, 201, 146);
}
.limited-width {

    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}


.btn-hamburger {
    display: none;
}

header {
    margin-top:0rem;
    width: 100%;
    height: 90px;
    background-color:black;
    padding: 20px;
    align-items: center; /*Öğeleri dikeyde hizalamak için */
}

.baslik {
    display: flex;
    justify-content: space-between;
    align-items: center; /*Öğeleri dikeyde hizalamak için */
}
.navbar {
    display: flex;
    gap: 90px;
}

.logo {
    display: flex;
    gap: 10px;
}
.fa-spotify {
    font-size: 30px;
}
.logo-yazi {
    margin-top: 5px;
}


.main {
    background-color: plum;
    height: 450px;
    padding: 50px;
}
.spo-left{
    float :left;
    width: 45%;
    text-align: left;
    font-size: px;
}
.spo-right{
    float: right;
    width: 45%;
    height: 35%;
}
.spo-left p{
    font-size: 18px;
    line-height: 1.1;
}
h1{
    font-weight: bold;
}
.text-center{
    text-align: center;
    padding: 24px;
    display: flex ;
    flex-direction: column;
    gap: 10px;
}
/* mobil ekran için media*/
@media (max-width:768px) {
    .navbar {
        display: flex;
        gap: 20px;
        flex: wrap; /*uzunluğa göre sarma özelliği*/
    }
     .spo-left, .spo-right {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0 10px;/*kenar boşluklarını arttırmak için */
     }
     .spo-left p {
        font-size: 14px;
     }
     .fa-spotify{
        font-size: 20px;
     }
     .logo-yazi {
        font-size: 16px;
     }
}